body {
  margin: 5%;
  height: 80vh;
  width: 80vw;
  border: 1px solid black;
}

#road {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
}

img {
  padding: 5px;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  img {
    height: 75px;
    width: 38.5px;
  }
}
